@model FlightModel
@{
    ViewData["Title"] = "Delete Flight";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FlightNumber (@Model.From to @Model.To)</h3>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="FlightModelId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" 
        class="btn btn-primary">Cancel</a>
</form>
